# Dépendances
node_modules/
dist/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build output
dist-ssr/
*.local
